body {
  background-color: #000;
  color: #000;
}

a {
  color: blue;
}

.container-fluid {
  background-color: #222;
}

.row {
  background-color: #444;
  margin: 10px;
}

.col-xs-12 {
  background-color: #666;
}

p {
  margin: 8px;
}

.header {
  color: #fff;
}

.footer {
  color: #fff;
}

#poll-list {
  background-color: #000;
}