body {
  padding-top: 70px;
  background-color: #000;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00ffe9;
}

a:hover, a:focus {
  color: #01aa9c;
  text-decoration: none;
}

.container-fluid {
  background-color: #222;
}

.main-container {
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.separator {
  border: 1px dashed white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.poll-row {
  padding: 6px;
  margin: 10px;
}

.poll-col {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #444;
  padding: 4px;
}

.form-container {
  margin: 30px;
  padding: 20px;
  background-color: #444;
  border: 2px solid #fff;
  border-radius: 10px;
}

.chart-container {
  margin: 30px;
  padding: 20px;
  background-color: #444;
  border: 2px solid #fff;
  border-radius: 10px;
}

#delete-button {
  margin-top: 15px;
}

p {
  margin: 8px;
  font-size: 1.5em;
}

h1 {
  font-size: 4.4em;
}

h3 {
  font-size: 2em;
}

.title-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff;
}

textarea {
  resize: vertical;
}

.header {
  color: #fff;
}

.footer {
  font-size: 1em;
  color: #fff;
}

.hidden {
  display: none;
}

.error {
  color: #4c0000;
  background-color: #db8787;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #4c0000;
  padding: 5px;
}

#chart {
  background-color: #444;
  width: 100%;
  height: auto;
}

/* Navbar */
nav {
    background-color: #666;
    color: #af3;
    border: none;
}

.navbar-nav > li > a {
    color: #fff;
    background-color: #222;
}

.navbar-nav > .active > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #666;
}

nav .navbar-brand {
    color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  color: #fff;
}