body {
  background-color: #000;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #00ffe9;
}

a:hover, a:focus {
  color: #01aa9c;
  text-decoration: none;
}

.container-fluid {
  background-color: #222;
}

.title-row {
  background-color: #444;
  margin: 10px;
  padding: 20px;
}

.col-xs-12 {
  background-color: #666;
}

.poll-row {
  background-color: #444;
  padding: 6px;
  margin: 10px;
}

.poll-col {
  border: 2px solid white;
  border-radius: 10px;
  padding: 4px;
}

p {
  margin: 8px;
  font-size: 1.5em;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

.header {
  color: #fff;
}

.footer {
  font-size: 1em;
  color: #fff;
}

.hidden {
  display: none;
}

#poll-list {
  background-color: #000;
}

#chart {
  background-color: #fff;
  width: 100%;
  height: auto;
}